BRASILEIRAO_BUCKET=brasileirao
BRONZE_RAW_PREFIX=bronze/raw
BRONZE_METADATA_PREFIX=bronze/metadata
S3_ENDPOINT_URL=http://localhost:9000
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=password123
AWS_DEFAULT_REGION=us-east-1
SILVER_PREFIX=silver
GOLD_PREFIX=gold